@font-face {
    font-display: auto;
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 500;
    src: url("chrome-extension://cmplbmppmfboedgkkelpkfgaakabpicn/fonts/SF-Pro-Display-Regular.ttf") format("truetype");
}

body {
    height: 200vh;
}

.nav-links {
    list-style-type: none;
}

button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 50%;
    align-items: center;
    /* color: rgb(0, 255, 64); */
    /* background: green; */
}

hr {
    border: none;
    border-top: 10px double black;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 1rem;
}

hr::after {
    background: #fff;
    content: "§";
    padding: 0.1 1rem;
    position: relative;
    top: -1rem;
}

/* BackToTop */
/*_________________flèche retour en haut____________________*/
/*  flèche retour en haut  */
.back-to-top {
    /*  Basic styling  */
    background-color: oklch(100% 0 0);
    border: 2px solid currentColor;
    border-radius: 0.5rem;
    display: inline-block;
    padding: 0.3rem;
    /*  Hidden by default  */
    position: fixed;
    inset: auto 2rem 2rem auto;
}

/*  utiliser la couleur du texte  */
.back-to-top:is(:link, :visited) {
    color: currentColor;
    text-decoration: none;
}

/*  masquer le texte retour en haut  */
.back-to-top span {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.back-to-top {
    --green: oklch(85.33% 0.15 141.46);
}

/*  animation progression de couleur la flèche  */
@keyframes progress {
    0% {
        --progress: 0%;
    }

    100% {
        --progress: 100%;
    }
}

/*  animation de la flèche  */
.back-to-top {
    --green: oklch(85.33% 0.15 141.46);
    animation: progress linear;
    animation-timeline: scroll();
}

/*  rotation de la flèche  */
.back-to-top svg {
    transform: rotate(var(--angle));
}

/*  propriete de la progression de la fleche  */
@property --progress {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%;
}

@property --angle {
    syntax: '<angle>';
    inherits: true;
    initial-value: -90deg;
}

@keyframes progress {
    0% {
        --progress: 0%;
        --angle: 90deg;
    }

    2% {
        --angle: 90deg;

    }

    100% {
        --progress: 100%;
    }
}

@supports not (animation-timeline: scroll) {
    .back-to-top {
        background: var(--green);
    }
}

@media(prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}
